<link rel="alternate"
      type="application/rss+xml"
      href="/blog/feed.xml"
      title="jrasband's blog feed/">

<!-- css -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/fonts.css" />
<link rel="stylesheet" href="/reset.css" />
<link rel="stylesheet" href="/vars.css" />
<link rel="stylesheet" href="/syntax.css" />
<link rel="stylesheet" href="/main.css" />

<link rel="icon" type="image/ico" href="/static/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">

<meta property="og:site_name" content="jrasband's blog">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="/static/og-image.jpg">

<meta property="twitter:image" content="/static/twitter_image.jpg">
